.profPict {
    background-size: cover;
    background-position: center;
    padding: 16px;
    width: 25px;
    height: 25px;
    float: left;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: black thin solid;
}

.person {
    border: red 1px solid;
    margin-left: 5px;
    margin-right: 5px;
}

.person2 {
    display: flex;
    border: blue 1px solid;
}

.rest {
    margin-left: auto;
    border: solid 1px yellow;
    display: flex;
    flex-direction: column;
}

.acDecBut {
    border: green 1px solid;
}

.ac {
    width: 45%;
}

.dec {
    width: 45%;
    margin-left: auto;
}