
p.titulo{
    font-family: Arial, Helvetica, sans-serif;
    color: #dbc963;
   
}

p.texto{
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}


div.texto{
    width: calc(25% - 1em);
    margin: 0.5em;
    margin-left: 2.5em;
    float: left;
    box-sizing: border-box;
    text-align: left;
    height: 2.5em;
    
}

div.texto > p{
   margin-top: 0em;
   font-size: 26px;
   font-weight: bold;
}

div.botones{
    position: absolute;
    right: 0em;
    width: calc(50% - 1em);
    margin: 0.5em;
    float: left;
    box-sizing: border-box;
    text-align: left;
    height: 2.5em;
    
}


div.botones1{
    padding-top: 0.5em;
    margin-left: 1em;   
    float: left;	
    border-radius: 8px;
    text-align: center;
    width: 20%;
    height: 1.5em;
    cursor: pointer;
}

.links, .links:visited{
    color: black;
    text-decoration: none
  }
  
 
 
div.botones1:hover{
    color: white;
    background-color: rgb(224, 175, 69);
}


div.fotoPrincipal{
 
    clear: both;
    height: 20em; 
    width: 100%;

}

div.fotoPrincipal > img{
    height: 20em;
    width: 100%;
}

div.intro{
    margin-top: 5em;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    word-wrap: break-word; 
    
}

div.intro > p.titulo{
    font-size: 30px;
}

div.abajo{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    box-sizing: border-box;
    overflow: auto;
    font-size: 16px;
    padding: 0.5%;

    
}

div.cuadro{
    width: calc(25% - 1em);
    margin: 0.5em;
    float: left;
    box-sizing: border-box;
    text-align: left;
    word-wrap: break-word;
  
}


div.abajo>div.cuadro>img{
    width: 100%;
    height: auto;
    margin: 0.5%;
}

div.botones2{
    color: white;
    background-color: rgb(224, 175, 69);
    padding: 0.5rem;
    width: 10em;	
    border-radius: 8px;
    text-align: center;
    height: 1.5em;
    cursor: pointer;

}


