html,
body {
    background-color: rgb(32, 33, 36);
    color: white;
    height: 100%;
}

#nameMail {
    border-bottom: -5em;
}

#chat {
    border-radius: 2.5em;
    background-color: rgb(59, 62, 68);
    width: calc(90% - 1em);
    height: 100%;
}

#chatTxT {
    width: 100%;
}

#msj {
    width: 100%;
    border: 1px dotted rgb(104, 104, 121);
}

.pantalla {
    height: 100%;
}

#contacts {
    overflow: auto;
    float: left;
    padding-left: 0em;
    padding-right: 0em;
    display: flex;
    flex-direction: column;
    width: 10%;
    height: 100%;
    border: 1px dotted blue;
}

.person {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    width: 40%;
    border-radius: 50%;
    align-self: center;
    border: red 1px solid;
}

.chatP {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 0.5fr;
    grid-template-rows: 0.5fr repeat(3, 1fr) 0.5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: 1px dotted green;
}

#introTxT {
    grid-area: 5 / 1 / 6 / 5;
    border: red 1px solid;
}

#send {
    grid-area: 5 / 5 / 6 / 6;
    border: 1px purple solid;
}

#otherUsr {
    background-color: blue;
    padding-top: 0.5em;
    border: solid limegreen dotted;
    border-top-left-radius: 2.5em;
    border-top-right-radius: 2.5em;
    grid-area: 1 / 1 / 2 / 6;
}