Order application
=================
We want to make an order application for the "Order Department" 
of a chain of restaurants. The restaurants will use the application to
order food and drinks.
The application must allow the user to:
- See the categories.
- See the products.
- Add one more units of a product to the order.
- Check the status of the cart, and remove items from it.
- Make the order. The order is inserted into the database and confimation
mails are sent to the user and to the "Order Department".

In order to access to the application, the user must log in. It's assumed 
that in every restaurant there is someone in charge of orders, who
knows the user and the password to log in.

For each category, we want to know its code, name and description. 
For products, we want to know their code, name, description, weight, 
units in stock and the category they belong to. Each product is 
of one and only one category. 

For each order, we want to know:
- The restaurant that made the order.
- The date it was made.
- Whether it has been already sent or not.
- The products included, including how many units of each product.

For each restaurant, we want to know:
- Code.
- Username/email. Used for logging in and for order confirmation mail.
- Password. Used for logging in.
- Address.
- Country.
- Postal code.

Limitations:
- No admin zone. Users, categories and products have to be inserted 
directly into the database.
- No autoregister option.
- No stock control. If when an order is made any product runs out of
stock, the order is processed.



















